#back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.statistics {
  width: 100%;
  margin-top: 1em;
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 150px); /* 2 */
  grid-gap: 1.5em; /* 3 */
  justify-content: center; /* 4 */
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic-value {
  font-size: 2em;
  font-weight: 700;
}
.statistic-name {
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
}
